# requirements.txt

# Thư viện chính cho Streamlit
streamlit

# Thư viện xử lý dữ liệu chính
pandas

# Thư viện xử lý tính toán khoa học
numpy

# THÊM THƯ VIỆN NÀY ĐỂ GIẢI QUYẾT LỖI NPV/IRR
numpy-financial

# Thư viện cho chức năng AI (sử dụng Gemini API)
google-genai

# Thư viện cần thiết để pandas đọc và ghi file Excel (Giữ lại)
openpyxl

# Thư viện BẮT BUỘC để đọc file Word (.docx)
python-docx
